<h1>Recipe#Index</h1>
<h2>All Recipes</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Procedure</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.description %></td>
      <td><%= recipe.procedure %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', controller: 'home' %>
<br>
<%= link_to 'Add a Recipe', new_recipe_path %>
<br>
