<h1>Recipes#New</h1>

<%= form_tag recipes_path do %>

  <div>
    <%= label_tag "recipe_form[name]", "Name" %> <br>
    <%= text_field_tag "recipe_form[name]" %> <br>
  </div>

  <div>
    <%= label_tag "recipe_form[description]", "Description" %>
    <%= text_area_tag "recipe_form[description]" %>
  </div>

  <div>
    <%= label_tag "recipe_form[procedure]", "Procedure" %>
    <%= text_area_tag "recipe_form[procedure]" %>
  </div>

  <div>
    <!-- want to show checkboxes for ingredients, and if checked add item to array -->
    <!-- shouldn't do this here. assign to variable in controller -->
    <% Ingredient.all.each do |ingredient| %>
      <%= check_box_tag "recipe_form[ingredients][]", ingredient.id %>
      <%= label_tag "recipe_form[ingredients][]", ingredient.name %> <br>
    <% end %>
  </div>

  <%= submit_tag %>

<% end %>
