<h1>Recipes#Show</h1>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @recipe.procedure %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <% end %>
</p>

<%= link_to 'Back to All Recipes', recipes_path %>
<br>
<%= link_to 'Home', "/" %>
