<h1>Recipes#Show</h1>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @recipe.procedure %>
</p>

<p>
  <strong>Ingredients:</strong><br>
  <% @recipe.ingredients.each do |ingredient| %>
    <br>
    <%= label_tag "recipe_form[ingredients][]", ingredient.name %>
    <%= link_to 'Delete', ingredient_path(ingredient), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>


<%= link_to 'Back to All Recipes', recipes_path %>
<br>
<%= link_to 'Home', "/" %>
